.grandpa{
    border: 1px solid darkgoldenrod;
    padding: 15px;
    margin: 10px;
    text-align: center;
    object-fit: contain;
}

.grandpa, .grandpa div{
    border: 2px solid darkorange;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.flex{
    display: flex;
}

